---

- name: SSH creds config
  include: ssh-creds.yml

- name: AWS creds config
  include: aws-creds.yml

- name: Shell config
  include: shell-config.yml

- name: Jobs creds config
  include: job-creds.yml
  when: jenkins_extra_jenkins_role == 'master'
